@import url(./font.css);
#catalogEl{ 
    color:#E16A00 !important;
    text-decoration: underline !important;
    font-weight: 700 !important;
}

.slick-list{
    padding-bottom: 20px !important;
}

main{
    margin-bottom: 148px;
}

#star-rating img{
    width: 25px;
}

@media only screen and (max-width: 600px) {
    .slick-slide{
        width:230px !important;
    }
}