@import url(./font.css);
body{
    background-color: #FFFAF5;
    
}
header{
    margin-left: 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    margin-right: 92px;
}
#join{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
#hamBar{
    display: none;
}
#join a{
    margin-left: 8px;
    padding-bottom: 4px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#navList{
    display: flex;
    align-items: center;
}

#navList a{
    margin-right: 21px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.modal-body input {
    width: 560px;
    height: 76px;
    color: #797667;
    font-size: 19px;
    font-family: 'Crimson Text';
    padding-left:52px;
    border: 1px solid #CECECE;
    background: #FFF;
    margin:0px 55px 35px 55px;
}
.modal-body h1{
    text-align: center !important;
    font-family: 'Montserrat'!important;
    font-style: normal!important;
    font-weight: 700!important;
    font-size: 44px!important;
    line-height: 54px!important;
    margin-top: 70px!important;
    margin-bottom: 17px!important;
}
.modal-content{
    width: fit-content;
    
    margin-top: 40px;
    
}
.modal-body{
    display: flex;
    margin-inline: auto !important;
    flex-direction: column;
    padding: 0 !important;
    width: fit-content !important;
    text-align: center;
}
.joinBtn{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    width: 100%;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background-color: #E16A00;
    width: 560px;
    height: 76px;
    margin-inline:auto;
    margin-top: 51px;
    margin-bottom: 35px;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    body {
      overflow-x: hidden!important;
    }
    header{
        margin-left: 15px;
        margin-right: 18px;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
    #navList, #join a{
        display: none;
    }
    #hamBar{
        display: block;
        cursor: pointer;
        margin-left: 22px;
    }
    #lists{
        flex-direction: column;
        text-align: center;
    }
    #row1{
        flex-direction: column;
        text-align: center;
    }
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    display: flex;
    
    flex-direction: column;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
  }
  
  .overlay a {
    font-size: 17px;
    margin-right: 17px;
    color: #F2F2F2;
    text-decoration: none;
    font-family: 'Montserrat';
    line-height: 196.187%;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
#social-media p{
    font-family: 'Montserrat';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    color: #241400;
    line-height: 196.19%;
    margin-bottom: 30px;
}
#media-icon{
    display: flex;

    justify-content: center;
    margin-inline: auto;
}
.icon{
    margin-left: 54px;
    /* align-items: center; */
    margin-bottom: 68px;
}
.icon:first-child{
    margin-left: 0px !important;
}
#brown-area{
    background-color:#391F00;
    align-items: center;
    padding-top: 56px;
}
#row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    
}
ul li{
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 196.19%;
}
.liHead{
    font-size: 24px !important;
}
#lists{
    display: flex;
    flex-wrap: wrap;
}
.list{
    margin-right: 91px;
}
#phone-number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 196.19%;
}
#call{
    text-align: center;
}
#call button{
    color:#E16A00 ;
    padding: 4px 6px;
    border: 1px solid #E16A00;
    background-color:transparent;
}
#row2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 196.19%;
    color: #FFFFFF;
    text-align: center;
}
