#homeEl{ 
    color:#E16A00 !important;
    text-decoration: underline !important;
    font-weight: 700 !important;
}

@media (max-width: 768px) {
 
    #textAtoZ {
        text-align: center;
        height: 50px;
        font-size: 15px;
        font-weight: 900;
    }

    #textAboutBook {
        text-align: center;
    }

    #btnGoCatalog {
        width: 100% !important; 
        height: 50px;
        background-color: aqua;
    }

    #bookImage img {
        width: 90%;
        margin-right: 20px;
    }

    #aboutNumber span:first-child{
        font-size: 60px !important;
        font-weight: 900;
        width: 20%;
        flex: 1;
}

    #aboutNumber span:nth-child(2){
        flex: 2;
        font-size: 20px !important;
    }


    #aboutNumber {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: block !important;
    }

  }



  @media (max-width: 1000px){
     #catalogCard {
        width: 80% !important;
    }
  }
    
  #social p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
    color:#391f02;
}

#social img{
    height: 80px;
}

@media only screen and (max-width: 600px) {
    #social p{
        font-size: 18px;
    }
    #social img{
        height: 38px;
    }
}

footer .d-sm-none a{
    font-weight: 400;
    font-size: 12px;
    font-family: Montserrat;
    color: #F2F2F2;
}

footer .copyright{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
}