@import url(./font.css);
#searchEl{ 
    color:#E16A00 !important;
    text-decoration: underline !important;
    font-weight: 700 !important;
}
main #title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 44px;
    color: #241400;
}

main{
    margin-bottom: 148px;
}

#searchBar{
    height: 70px;
    padding: 27px;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    border: 1px solid #CECECE;
    margin-bottom: 44px;
    border-radius: 5px;
}
#searchBtn{
    height: 65px;
    color: #FFFFFF;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    border: none;
    text-align: center;
    background-color: #E16A00;
    border-radius: 5px;
}


.searched_books_slider .card{
    padding: 47px 56px 134px 31px;
    max-width: 800px;
}

.card img{
    border-radius: 0px;
    width: 100%;
}
.book-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.author{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 196.19%;
    font-size: 18px;
}
.book-content{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 196.19%;
}


#social p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
    color:#391f02;
}

#social img{
    height: 80px;
}

@media only screen and (max-width: 600px) {
    main #title{
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
    }

    main{
        margin-bottom: 10px;
    }

    .searched_books_slider .card{
        padding: 47px 17px 17px 17px;
    }

    #searchBtn{
        margin-bottom: 79px;
    }
    #social p{
        font-size: 18px;
    }
    #social img{
        height: 38px;
    }
}

footer .d-sm-none a{
    font-weight: 400;
    font-size: 12px;
    font-family: Montserrat;
    color: #F2F2F2;
}

footer .copyright{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
}